asgiref==3.8.1
asttokens==2.4.1
decorator==5.1.1
Django==5.1
django-extensions==3.2.3
django-postgres-extensions==0.9.3
executing==2.0.1
gunicorn==23.0.0
ipython==8.26.0
jedi==0.19.1
matplotlib-inline==0.1.7
model-bakery==1.19.5
packaging==24.1
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.47
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.18.0
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
typing-extensions==4.12.2
wcwidth==0.2.13
